* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;

}
.hero {
    display: flex;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right,#410b5a,#510e88);
}